html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to top, #ffe5a6 0%, #ace0f9 100%) no-repeat;
  background-size: 100% 103%;
  color: #063462;
}

.weather {
  margin: 20px auto 0;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  border-radius: 10px;
  background: #fff;
}

#input-form {
  margin-bottom: 25px;
}

#input-city {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #063462;
  border-radius: 10px;
}

#submit-btn {
  padding: 5px;
  background: #063462;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
}

.text {
  position: relative;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-family: "Roboto Flex", sans-serif;
}

h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

#currently-data {
  margin-bottom: 15px;
}

#temp {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 34px;
  margin-right: 10px;
}

.active {
  text-decoration: none;
  color: #063462;
}

.active:hover {
  cursor: default;
}

#status::first-letter {
  text-transform: uppercase;
}

.right-col {
  position: absolute;
  bottom: 0;
}

.small {
  font-size: 14px;
  font-family: "Roboto Flex", sans-serif;
  margin-bottom: 10px;
}

.forecast {
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 14px;
}

.forecast-max-temp {
  font-weight: bold;
}
