body {
  background: linear-gradient(to top, #ffe5a6 0%, #ace0f9 100%);
  color: #063462;
}

.weather {
  margin: 20px auto 500px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  border-radius: 10px;
  background: #fff;
}

.text {
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-family: "Roboto Flex", sans-serif;
}

h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

#currently-data {
  margin-bottom: 15px;
}

#temp {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 34px;
  margin-right: 10px;
}

.right-col {
  position: absolute;
  bottom: 0;
}
